body{
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3{
    padding-top: 100px;
    /* color: blue; */
}

.button1{
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    color: white;
    border: white;
    background-image: linear-gradient(to bottom right, #d95c5c, #d95c5c);
}

.firstYear li{
    display: inline;
    padding-left: 50px;
}

.heading{
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    color: blue;
}

.button {
    padding: 15px 25px 15px 25px;
    border-radius: 100px;
    border: white;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.726), rgba(128, 0, 128, 0.712));
    color: white;  
}


#menu li a{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

#menu li.active{
    background-color: darkslateblue;
}

#menu{
    float: right;
}


button a{
    text-decoration: none;
    color: white;
}
