body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#siteName{
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
}

.button1{
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    color: white;
    border: white;
    background-image: linear-gradient(to bottom right, #d95c5c, #d95c5c);
    text-decoration: none;
}

.firstYear li{
    display: inline;
    padding-left: 50px;
}


.hpheadersection{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.heading h2{
    font-size: 30px;
    margin-bottom: 4em;
    text-align: center;
    color: rgb(111, 0, 255);
}


#firstYear{
    width: 45%;
    height: 100%;
}

#secondYear{
    width: 45%;
    height: 100%;
}

#linksection{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

#linksection h1{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#linksection h3{
    padding-top: 4rem;
    padding-bottom: 4px;
    color: green;
}
